.nav {
    grid-area: n;
    background-color: royalblue;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    padding: 20px;
    font-size: 25px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink {
color: gold;
}